{# we print show.html.twig through AJAX #}
{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="mb-3" id="logged">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se deconnecter</a>
        </div>       
    {% endif %}
    
    
{% endblock %}


{% block javascripts %} 
    {{ parent() }}
    <script>
    window.onload = function() {
        $.ajax({
            async: true,
            url: '/res',
            method: 'POST',
            //contentType: "application/json; charset=utf-8"
            contentType: "html"
        }).then(function(response) {
           //$('#content').html($(response).find('table-responsive').html());//This is deprecated
            //var content = $('<div>').append(response).find('.table-responsive');
            var content = $('<div>').append(response).find('div#content');
            $('#logged').append(content);
        });
         
    } 
    </script>
{% endblock %}

